body {
  overflow-y: scroll;
  overflow-x: hidden;
}

:root,
body,
html {
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.transform:hover {
  filter: brightness(95%);
}

.auth {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  min-height: 90vh;
  background-image: url('https://picsum.photos/1600/900');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}
