body {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

:root,
body,
html {
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.transform {
  transition-duration: 167ms;
}
.transform:hover {
  filter: brightness(90%);
}
.transform:after {
  transition: transform 1s ease-in-out;
}

.auth {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  background-image: url('https://picsum.photos/1600/900');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.background {
  position: relative;
  z-index: 1;
}
.background:before {
  border-top: 2px solid #f5f5f5;
  content: '';
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  z-index: -1;
}

.span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: #f5f5f5;
  padding: 0 15px;
}

.double:before {
  /* this is just to undo the :before styling from above */
  border-top: none;
}

.double:after {
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0 1px 0 0 #424242;
  -moz-box-shadow: 0 1px 0 0 #424242;
  box-shadow: 0 1px 0 0 #424242;
  content: '';
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  width: 40%;
  z-index: -1;
}
